# Копируйте в .env и заполните своими данными
BASE_URL=https://eshop.sibur.ru
LOGIN=your_login@example.com
PASSWORD=your_password
HEADLESS=false
SLOW_MO=0
BROWSER=chromium
VIEWPORT_WIDTH=1920
VIEWPORT_HEIGHT=1080
